body {
    background-image: url("background.jpg");
}
td {
    padding: 20px;
    width: 300px;
    vertical-align: top;
    border: solid 1px blue;
}
#layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}
#header {
    font-size: 30px;
}
#footer {
    text-align: center;
}
#tableMenu {
    width: 300px;
}
.bookImg {
    padding-right: 20px;
    float: left;
    width: 60px;
}