table, td {
    border: 1px solid blue;
}
table {
    border-collapse: collapse;
}
td {
    padding: 20px;
}
.myTable {
    margin: auto;
    text-align: center;
    width: 500px;
    height: 300px;
}
.px30 {
    width: 30px;
}
.prc100 {
    width: 100%;
}